.panda-bg-info-color{
    background-color: #fceae8;
}
.panda-cat-bg-1{
    background-color: #ffa500;
}
.panda-cat-bg-2{
    background-color: #da70d6;
}
.panda-cat-bg-3{
    background-color: #0000ff;
}